.fotoPerfilInput {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.fotoPerfilInput:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.fotoPerfilInput:focus {
  outline: 2px solid var(--color-secondary);
  /* Use secondary color for focus */
}

.fotoPerfilInput::file-selector-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  border-radius: inherit;
  font-size: 1rem;
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: 500;
}

.fotoPerfilInput::file-selector-button:hover {
  background-color: #e5e5e5;
  /* Could allow a slight darken or use tertiary */
}

.widthButton {
  width: 10rem;
  margin-bottom: 8rem;
}

.alignButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 64rem) {
  .fotoPerfilInput {
    width: 12rem;
  }
}