.section {
    width: 100%;
    min-height: 50vh;
    /* Ensure at least 50vh but allow growth */
    height: auto;
    display: flex;
    align-items: center;
}

.contBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    /* Match section height */
    padding: 2rem 0;
}

.contImg {
    position: relative;
    width: 50%;
    height: 400px;
    /* Use px or relative unit that makes sense */
}

.contText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 0 2rem;
    gap: 1rem;
}

.contText h1 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.contText p {
    text-transform: capitalize;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 900px) {
    .contBanner {
        flex-direction: column;
        padding: 4rem 0;
    }

    .contImg {
        width: 80%;
        height: 300px;
        margin-bottom: 2rem;
    }

    .contText {
        width: 80%;
        align-items: center;
        text-align: center;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        min-height: 40vh;
    }

    .contImg {
        width: 90%;
        height: 250px;
    }

    .contText h1 {
        font-size: 1.5rem;
    }
}